{% load mezzanine_tags %}

{% editable_loader %}

{% if not settings.DEBUG %}
<script>
{% if not request.user.is_superuser %}
var _gaq = _gaq || [['_trackPageview']];
_gaq.unshift(['_setAccount', 'UA-28961467-1']);
(function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
})(document, 'script');
{% endif %}

// Include the UserVoice JavaScript SDK (only needed once on a page)
UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/WCiBAIzrsWBQzCobSQgYtw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

//
// UserVoice Javascript SDK developer documentation:
// https://www.uservoice.com/o/javascript-sdk
//

// Set colors
UserVoice.push(['set', {
  accent_color: '#8dc63f',
  trigger_color: '#1d75bc',
  trigger_background_color: 'rgba(163, 174, 181, 0.6)'
}]);


// Identify the user and pass traits
// To enable, replace sample data with actual user traits and uncomment the line
UserVoice.push(['identify',
{% if request.user.is_authenticated %}
{
  email:      '{{request.user.email}}', // User’s email address
  name:       '{{request.user.get_full_name}}', // User’s real name
  //created_at: 1364406966, // Unix timestamp for the date the user signed up
  id:       '{{request.user.id}}', // User’s real name
  //id:         123, // Optional: Unique id of the user (if set, this should not change)
  //type:       'Owner', // Optional: segment your users by type
  //account: {
  //  id:           123, // Optional: associate multiple users with a single account
  //  name:         'Acme, Co.', // Account name
  //  created_at:   1364406966, // Unix timestamp for the date the account was created
  //  monthly_rate: 9.99, // Decimal; monthly rate of the account
  //  ltv:          1495.00, // Decimal; lifetime value of the account
  //  plan:         'Enhanced' // Plan name for the account
  //}
}
{% else %}
{}
{% endif %}
]);

// set localge
{% if LANGUAGE_CODE == 'zh' %}
UserVoice.push(["set", "locale", "zh-TW"]);
{% endif %}

// Add default trigger to the bottom-right corner of the window:
UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
UserVoice.push(['autoprompt', {}]);

$('#feedback_directly').click(function(event) {event.preventDefault(); UserVoice.push(['show']);});

</script>
{% endif %}

{% if LANGUAGE_CODE == 'zh' %}
<script>$('html').attr('lang', 'zh-Hant').addClass('han-la han-biaodian-pro-cns')</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Han/2.2.3/js/han.js"></script>
{% endif %}
