{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Speaker: " %}{{speaker.get_full_name}}{% endblock %}

{% block title %}{% trans "Speaker: " %}{{speaker.get_full_name}}{% endblock %}
{% block og_title %}{% trans "Speaker: " %}{{speaker.get_full_name}} | {% endblock %}
{% block meta_description %}{{speaker.brief}}{% endblock %}
{% block meta_keywords %}{{speaker.first_name}},{{speaker.last_name}},{{profile.tagline}},pyconapac,2014{% endblock %}

{% block content %}

<div class="content">
  <div class="paper">
    <div class="row">
      {% include "_speaker_info.html"  %}
    </div>
    <div class="clear"></div>
  </div>
</div>

{% endblock %}

{% block sider %}{% endblock %}
